In [1]:
import pandas as pd

In [1]:
df = pd.read_csv(r'/Users/davidkennedy/Downloads/Development_Plans.csv')

df.head()

,X,Y,OBJECTID,devplan_id,submitted,submitted_yr,approved,daystoapprove,plan_type,status,...,lots_apprv,sq_ft_req,units_apprv,units_req,zoning,plan_number,CreationDate,Creator,EditDate,Editor
0,-8.741714e+06,4.276904e+06,35811,7816.0,2003/12/11 05:00:00+00,2003,2005/01/26 05:00:00+00,412.0,SUBDIVISION,Withdrawn,...,0.0,0.0,0.0,0.0,R-4,S-133-2003,2018/02/22 17:18:35.292+00,OpenData_ral,2018/02/22 17:18:35.292+00,OpenData_ral
1,-8.758347e+06,4.287198e+06,35812,9322.0,2010/06/30 04:00:00+00,2010,NaN,NaN,SITE PLAN,Review In Progress,...,0.0,15137.0,0.0,2.0,RR/WPOD,SP-30-2010,2018/02/22 17:18:35.292+00,OpenData_ral,2018/02/22 17:18:35.292+00,OpenData_ral
2,-8.754474e+06,4.273888e+06,35813,7064.0,2001/07/17 04:00:00+00,2001,2001/08/29 04:00:00+00,43.0,SUBDIVISION,Withdrawn,...,0.0,0.0,0.0,0.0,R-10,S-99-2001,2018/02/22 17:18:35.292+00,OpenData_ral,2018/02/22 17:18:35.292+00,OpenData_ral
3,-8.748582e+06,4.281723e+06,35814,6040.0,1999/05/25 04:00:00+00,1999,1999/07/06 04:00:00+00,42.0,SUBDIVISION,Active,...,2.0,0.0,0.0,0.0,I-1,S-67-1999,2018/02/22 17:18:35.292+00,OpenData_ral,2018/02/22 17:18:35.292+00,OpenData_ral
4,-8.746610e+06,4.270237e+06,35815,6849.0,2000/11/15 05:00:00+00,2000,2001/01/24 05:00:00+00,70.0,SUBDIVISION,Active,...,3.0,0.0,0.0,0.0,I-1,S-142-2000,2018/02/22 17:18:35.292+00,OpenData_ral,2018/02/22 17:18:35.292+00,OpenData_ral